mixin header(headerMods, currentUrl)
  -
    const mainLinks = [
      {
        href: "#",
        text: "What’s new"
      },
      {
        href: "#",
        text: "Chokers"
      },
      {
        href: "#",
        text: "Necklaces"
      },
      {
        href: "#",
        text: "Rings"
      },
      {
        href: "#",
        text: "Earrings"
      },
    ]

    const additionalLinks = [
      {
        href: "#",
        text: "About CH"
      },
      {
        href: "#",
        text: "Stores &amp;&nbsp;Hours"
      },
      {
        href: "#",
        text: "Contact Us"
      },
    ]

    const userMenu = [
      {
        text: "Login"
      },
    ]

  header.header(class=headerMods, data-header="sticky", data-hide-point="50")
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo", 66, 66)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 66, 66)
      nav.header__nav()
        button.header__nav-toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-burger)
          +icon("icon-burger", 25, 18)
        .header__nav-wrapper
          .header__search
            form(method="get")
              input(type="search", placeholder="Type here to search", name="search")
              +icon("icon-search", 14, 14)
          ul.header__nav-list.header__nav-list--main
            each link in mainLinks
              - const activeState = currentUrl === link.href
              li.header__nav-item
                if(activeState)
                  span.header__nav-link.is-active= link.text
                else
                  a.header__nav-link(href=link.href)= link.text
          ul.header__nav-list.header__nav-list--additional
            each link in additionalLinks
              - const activeState = currentUrl === link.href
              li.header__nav-item
                if(activeState)
                  span.header__nav-link.is-active!= link.text
                else
                  a.header__nav-link(href=link.href)!= link.text
          ul.header__nav-list.header__nav-list--user
            each item in userMenu
              li.header__nav-item
                button.btn-reset.header__nav-link()!= item.text
        button.header__cart.btn-reset(type="button")
          span Cart
          +icon("icon-cart", 20, 18)
          span(data-cart-count)  0
